.Podcast {

  display: block;
  align-items: center;
  justify-items: center;
  text-align: center;
  border: black solid 1px;
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;

  h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 20rem;

  }

  img {
    width: 300px;
    height: 300px;
  }

  a {
    text-decoration: none;
    color: black;
  }

}
